# Node dependencies
node_modules
npm-debug.log
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# Local env files (you should add only what Vercel uses)
.env.local
.env.development
.env.test
.env.production

# Next.js build output
.next
out
dist

# Prisma generated client (will be generated in Docker)
.prisma

# Logs
logs
*.log

# OS / editor junk
.DS_Store
Thumbs.db
.vscode
.idea
*.swp

# Git folder
.git
.gitignore

# Docker junk
Dockerfile
docker-compose.yml
